locals {
  region                    = get_env("AVIA_AWS_REGION", "")
  data_residency_approval   = get_env("AVIA_AWS_DATA_RESIDENCY_APPROVAL", "")
  state_bucket_name         = get_env("AVIA_AWS_STATE_BUCKET_NAME", "")
  state_kms_key_arn         = get_env("AVIA_AWS_STATE_KMS_KEY_ARN", "")
  certificate_arn           = get_env("AVIA_AWS_CERTIFICATE_ARN", "")
  alarm_topic_arn           = get_env("AVIA_AWS_ALARM_TOPIC_ARN", "")
  approved_domain           = get_env("AVIA_AWS_APPROVED_DOMAIN", "")
  approved_budget_usd       = get_env("AVIA_AWS_BUDGET_USD", "")
  approved_backup_retention = get_env("AVIA_AWS_BACKUP_RETENTION_DAYS", "")
}
