*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  color: inherit;
}

button,
input,
select,
textarea {
  font: inherit;
}

button,
a {
  -webkit-tap-highlight-color: transparent;
}

button:focus-visible,
a:focus-visible,
input:focus-visible,
select:focus-visible,
textarea:focus-visible,
input:focus,
input:focus-within,
select:focus,
textarea:focus {
  outline: 3px solid rgb(28 122 132 / 30%);
  outline-offset: 2px;
}

h1,
h2,
h3,
p,
dl,
dd,
ul {
  margin-top: 0;
}

img,
svg {
  display: block;
  max-width: 100%;
}
